
Json Array
<pre>{{jsonArray |json}}</pre>

<hr>
Json Array with Ref
<pre>{{jsonArrayCopy |json}}</pre>

<hr>
Json Array without Ref
<pre>{{jsonArrayCopyWithoutRef |json}}</pre>

<hr>

For each Record
<div  *ngFor="let x of jsonArray">
    basic info
    <h6>{{x.group_name}} - ({{x.group_short_name}})</h6>
    <div *ngIf="x.business_groups">
        business groups
    <h6 *ngFor="let y of x.business_groups">{{y}}</h6>
    </div>
    <div *ngIf="x.agreement">
        agreement
    <h6 *ngFor="let y of x.agreement">{{y.agreement_name}}</h6>
    <hr>
    </div>
</div>